<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixer</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/vue@latest"></script>
    <script defer src="script.js"></script>
</head>

<body>
    <div id="app">
        <header class="header">
            <div @change="changeColor">
                <input v-model="red" type="range" name="red" id="r" min="0" max="255">
                <label for="r">r</label>
                <input v-model="green" type="range" name="green" id="g" min="0" max="255">
                <label for="g">g</label>
                <input v-model="blue" type="range" name="blue" id="b" min="0" max="255">
                <label for="b">b</label>
            </div>
            <h1 id="rgb-heading">rgb(58, 134, 255)</h1>
            <button @click="getRandomColor" id="random-color-btn">Random Color</button>
        </header>
        <main class="main"></main>
    </div>
</body>

</html>